.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  .card {
    width: 200px;
    border-radius: 10px;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
