.admin-main {
  height: calc(100vh - 64px);
  overflow: auto;
}
.aside-logo {
  height: 64px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  color: black;
  font-size: 30px;

  p{
    font-family: Sen;
  }
}

.layout-header {
  border-bottom: 1px solid black;
}

.header-box {
  padding-right: 24px;

  display: flex;
  justify-content: space-between;
}

.logout {
  background: red !important;

  color: #fff !important;

  position: absolute !important;
  bottom: 0;
}
.logout:hover {
  background: rgb(255, 61, 61) !important;
}
.tools_box {
  display: flex;
  align-items: center !important;
  gap: 30px;

  a {
    line-height: 0;
  }
}
.badge {
  padding: 1.5px 3px !important;
  sup {
    width: 30px !important;
    height: 20px !important;
    padding: 0 4px !important;

    font-size: 10px !important;

    font-weight: 300 !important;
  }

  cursor: pointer;
}
